/* Document styling */
body {
  background-color: #6e95ff33;
  font-family: arial, sans-serif;
  font-weight: 100;
  text-align:center;
  color: darkblue;
  margin: auto;
}

#tooltip {			
    width: 80px;					
    height: 80px;					
    padding: 3px;	
    position: absolute;			
    text-align: center;		
    font: 10px sans-serif;		
    background: darkgrey;
	color: black;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
	opacity: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: darkblue;
    stroke-width: 3;
    shape-rendering: crispEdges;
}


.dot {
  stroke: darkblue;
}









#vis-container {
  position: relative;
  width: 970px;
  height: 700px;
  margin-top: 10px;
}

/* All the .annotation-step divs are inside
 * #annotation-steps. z-index ensures annotations
 * stay on top of visualization. */

#annotation-steps {
  position: absolute;
  z-index: 40;
}

#vis-nav {
  z-index: 20;
}

/* This is where you would create the actual visualization.
 * Right now, lets just change the background color. */

#vis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: white;
}

/* By default, all annotation-steps are hidden. */

.annotation-step {
  position: absolute;
  display: none;
}

/* Finally we can position each annotation exactly how
 * we want. */

.annotation {
  position: absolute;
}

/* annotation postioning */
#step1-left-annotation {
  left: 30px;
  top: 120px;
  width: 200px;
}

#step1-right-annotation {
  left: 200px;
  top: 200px;
  width: 200px;
}

#step2-center-annotation {
  left: 200px;
  top: 200px;
  width: 200px;
}

#step3-high-annotation {
  left: 30px;
  top: 100px;
  width: 200px;
}

#step3-low-annotation {
  left: 30px;
  top: 250px;
  width: 200px;
}

/* Basic styling for the step links */
a.step-link {
  padding: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
}

a.step-link:hover, a.active {
  color: red;
}

